* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FB6B6B;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.menu h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.menu .logo {
    height: 161px;
    width: 136px;
    margin-bottom: 12px;
}

.menu .button--begin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #D70900;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 54px;
    width: 246px;
    background: #FFFFFF;
}

.menu .button--begin span {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 38px 58px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    margin-right: 50px;
    height: 100px;
    width: 86px;
}

header h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    transform: rotate(0.58deg);
}

.flashcards {
    margin: 110px 38px 0;
    width: 100%;
}

.flashcards ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flashcards .flashcard {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 22px 14px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 568px;
    min-height: 66px;
    background: #FFFFFF;
    cursor: pointer;
}

.flashcards p {
    word-wrap: break-word;
}

.flashcards .flashcard--open {
    height: auto;
    min-height: 180px;
    background-color: #FFFFD5;
    cursor: default;
}

.flashcards .question {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flashcards .question p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.flashcards .statement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

.flashcards .statement .arrow {
    align-self: flex-end;
    height: 32px;
    width: 42px;
    cursor: pointer;
}

.flashcards .statement p {
    margin-bottom: 30px;
}

.flashcards .statement p,
.flashcards .answer p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
}

.flashcards .buttons {
    display: flex;
    justify-content: space-between;
}

.flashcards .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    min-height: 38px;
    width: 30%;
}

.flashcards .button span {
    text-align: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.flashcards .button--incorrect {
    background-color: #FF3030;
}

.flashcards .button--effortful {
    background-color: #FF922E;
}

.flashcards .button--correct {
    background-color: #2FBE34;
}

.flashcards ion-icon[name="play-outline"] {
    height: 36px;
    width: 32px;
}

.flashcards ion-icon[name="close-circle"] {
    color: #FF3030;
}

.flashcards ion-icon[name="help-circle"] {
    color: #FF922E;
}

.flashcards ion-icon[name="checkmark-circle"] {
    color: #2FBE34;
}

.flashcards ion-icon[name="close-circle"],
.flashcards ion-icon[name="help-circle"],
.flashcards ion-icon[name="checkmark-circle"] {
    font-size: 35px;
}

footer {
    position: fixed;
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    height: 118px;
    width: 100%;
    background-color: #FFFFFF;
}

@media (max-width: 676px) {
    .content header .logo {
        margin-right: 24px;
        height: 60px;
        width: 52px;
    }

    .content header h1 {
        font-size: 36px;
        line-height: 45px;
        letter-spacing: -0.012em;
        color: #FFFFFF;
        transform: rotate(0.58deg);
    }

    .content .flashcards {
        margin-top: 50px;
    }

    .content .flashcards .flashcard--open {
        min-height: 130px;
    }

    .content .flashcards .question p {
        font-size: 16px;
        line-height: 19px;
    }

    .content .flashcards .statement p,
    .content .flashcards .answer p {
        font-size: 18px;
        line-height: 22px;
    }

    .content .flashcards ion-icon[name="play-outline"] {
        height: 24px;
        width: 20px;
    }

    .content .flashcards ion-icon[name="close-circle"],
    .content .flashcards ion-icon[name="help-circle"],
    .content .flashcards ion-icon[name="checkmark-circle"] {
        font-size: 23px;
    }

    .content .flashcards .arrow {
        height: 20px;
        width: 30px;
    }

    .content footer {
        height: 70px;
    }
}